<% unless comment.archived? %>
<div class="card" style="width: 18rem; margin-bottom:1rem; margin-top:1rem;">
<div class="card-body">
<h5 class="card-title">
<%= comment.commenter %> </h5>

<p class= "card-text"><%= comment.body %></p>



<p>
<%= link_to "Destroy Comment", [comment.article, comment], data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
</p>
</div>
</div>
<% end %>